{% extends "email/email_base.html" %} {% block email_content %}

<h1>Welcome Page!</h1>
<p>Thank you for signing up to Psych Soc UoW!</p>
<p>Feel free to view our store page at <a href="/shop">shop.psychsoc.org</a></p>
<p>If you haven't already, sign up to our weekly newsletter to get regular updates for events, sales, and psych opportunities in Illawarra.</p>
<p>We hope you enjoy what we have to offer, and we're always looking for feedback from our community. Let us know what you think <a href="/feedback">HERE</a></p>

{% endblock %}
