.navbar {
	margin: 0px -180px 0px -180px;
	background-color: #e5e5f7;
	opacity: 1;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #ffffff9d, #c7dfff91 );
	font-size: 1.5rem;
	font-weight: 700;
}

.navbar-collapse {
	justify-content: space-between;
	display: flex;
	margin: 0px 180px 0px 180px;
	align-items: center;
}

.nav {
	margin: 40px;
}

.nav-item {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	padding: 15px;
	color: black;
	background-color: rgb(248, 248, 248);
	text-decoration: none;
	border-radius: 8px;
	border: 1px solid rgb(201, 201, 201);
}

.nav-item:hover {
	background-color: rgb(98, 187, 255, 0.4);
}

.alert {
	padding: 15px;
	margin: 15px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.error {
	background-color: rgb(110, 52, 52);
	color: rgb(255, 255, 255);
}

.success {
	background-color: limegreen;
	color: rgb(255, 255, 255);
}

.info {
	background-color: white;
	color: orange;
}

.close {
	background-color: white;
	height: auto;
	width: auto;
	font-size: 1.5rem;
	display: block;
	overflow: auto;
}

.close:hover {
	background-color: rgb(245, 100, 30);
}

.container {
	display: flex;
	margin: 50px -180px 50px -180px;
	padding: 20px;
	justify-content: center;
}